<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp1.telaviv">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Courses" />
        <activity android:name=".Information" />
        <activity android:name=".Registration" />
        <activity android:name=".Thankyou" />
        <activity android:name=".Computers" />
        <activity android:name=".Doctor" />
        <activity android:name=".Lawyer" />
        <activity android:name=".Teacher" />
        <activity android:name=".Fileread" />
        <activity android:name=".CourseDetailsActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Login"></activity>
    </application>

</manifest>